.container {
    margin: 2% 34vw;
}

.lowerContent {
    position: fixed;
    bottom: 4vh;
}

button {
    font-size: 4vh;
    width: 6vw;
    height: 6vw;
    border: none;
    border-radius: 32%;
    margin: 0.8vw;
}

button:hover {
    background: #e7e7e7;
    color: #666 !important;
}

.white {
    background: #fff;
}

.purple {
    background: #4b5efc;
    color: #fff !important
}

.gray {
    background: #d2d3da;
}

.content {
    width: 32vw;
}

#text {
    height: 13vh;
    margin: 2% 2% 0%;
    border-radius: 10px 10px 0 0;
    padding: 5px;
    text-align: right;
    background: #f1f2f3;
    color: #888888;
    font-size: 2vw;
    width: 27vw;
}

#result {
    width: 27vw;
    height: 5vw;
    margin: 0 0 0vw;
    border: none;
    font-size: 5vh;
    border-radius: 0 0 10px 10px;
    padding: 5px;
    text-align: right;
    background: #f1f2f3;
}

body {
    background: #f1f2f3;
    height: 86vh;
}